<h1>Listing ruas</h1>

<table>
  <thead>
    <tr>
      <th>Nome rua</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ruas.each do |rua| %>
      <tr>
        <td><%= rua.nome_rua %></td>
        <td><%= link_to 'Show', rua %></td>
        <td><%= link_to 'Edit', edit_rua_path(rua) %></td>
        <td><%= link_to 'Destroy', rua, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rua', new_rua_path %>
