<h1>Listing bairros</h1>

<table>
  <thead>
    <tr>
      <th>Cidade</th>
      <th>Nome bairro</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bairros.each do |bairro| %>
      <tr>
        <td><%= bairro.cidade_id %></td>
        <td><%= bairro.nome_bairro %></td>
        <td><%= link_to 'Show', bairro %></td>
        <td><%= link_to 'Edit', edit_bairro_path(bairro) %></td>
        <td><%= link_to 'Destroy', bairro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bairro', new_bairro_path %>
