<p id="notice"><%= notice %></p>

<p>
  <strong>Cidade:</strong>
  <%= @bairro.cidade_id %>
</p>

<p>
  <strong>Nome bairro:</strong>
  <%= @bairro.nome_bairro %>
</p>

<%= link_to 'Edit', edit_bairro_path(@bairro) %> |
<%= link_to 'Back', bairros_path %>
