<%= form_for(@quadra) do |f| %>
  <% if @quadra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quadra.errors.count, "error") %> prohibited this quadra from being saved:</h2>

      <ul>
      <% @quadra.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bairro_id %><br>
    <%= f.number_field :bairro_id %>
  </div>
  <div class="field">
    <%= f.label :total_imoveis %><br>
    <%= f.number_field :total_imoveis %>
  </div>
  <div class="field">
    <%= f.label :total_c %><br>
    <%= f.number_field :total_c %>
  </div>
  <div class="field">
    <%= f.label :total_r %><br>
    <%= f.number_field :total_r %>
  </div>
  <div class="field">
    <%= f.label :total_pe %><br>
    <%= f.number_field :total_pe %>
  </div>
  <div class="field">
    <%= f.label :total_tb %><br>
    <%= f.number_field :total_tb %>
  </div>
  <div class="field">
    <%= f.label :total_o %><br>
    <%= f.number_field :total_o %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
