<h1>Listing quadras</h1>

<table>
  <thead>
    <tr>
      <th>Bairro</th>
      <th>Total imoveis</th>
      <th>Total c</th>
      <th>Total r</th>
      <th>Total pe</th>
      <th>Total tb</th>
      <th>Total o</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @quadras.each do |quadra| %>
      <tr>
        <td><%= quadra.bairro_id %></td>
        <td><%= quadra.total_imoveis %></td>
        <td><%= quadra.total_c %></td>
        <td><%= quadra.total_r %></td>
        <td><%= quadra.total_pe %></td>
        <td><%= quadra.total_tb %></td>
        <td><%= quadra.total_o %></td>
        <td><%= link_to 'Show', quadra %></td>
        <td><%= link_to 'Edit', edit_quadra_path(quadra) %></td>
        <td><%= link_to 'Destroy', quadra, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quadra', new_quadra_path %>
