<p id="notice"><%= notice %></p>

<p>
  <strong>Bairro:</strong>
  <%= @quadra.bairro_id %>
</p>

<p>
  <strong>Total imoveis:</strong>
  <%= @quadra.total_imoveis %>
</p>

<p>
  <strong>Total c:</strong>
  <%= @quadra.total_c %>
</p>

<p>
  <strong>Total r:</strong>
  <%= @quadra.total_r %>
</p>

<p>
  <strong>Total pe:</strong>
  <%= @quadra.total_pe %>
</p>

<p>
  <strong>Total tb:</strong>
  <%= @quadra.total_tb %>
</p>

<p>
  <strong>Total o:</strong>
  <%= @quadra.total_o %>
</p>

<%= link_to 'Edit', edit_quadra_path(@quadra) %> |
<%= link_to 'Back', quadras_path %>
