<p id="notice"><%= notice %></p>

<p>
  <strong>Lado:</strong>
  <%= @imovel.lado_id %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @imovel.tipo_id %>
</p>

<p>
  <strong>Habitantes:</strong>
  <%= @imovel.habitantes %>
</p>

<%= link_to 'Edit', edit_imovel_path(@imovel) %> |
<%= link_to 'Back', imovels_path %>
