<h1>Listing tratamentos</h1>

<table>
  <thead>
    <tr>
      <th>Eliminados</th>
      <th>Imovel tratado</th>
      <th>Tipo larvicida</th>
      <th>Quantidade larvicida</th>
      <th>Quantidade deposito tratado</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tratamentos.each do |tratamento| %>
      <tr>
        <td><%= tratamento.eliminados %></td>
        <td><%= tratamento.imovel_tratado %></td>
        <td><%= tratamento.tipo_larvicida %></td>
        <td><%= tratamento.quantidade_larvicida %></td>
        <td><%= tratamento.quantidade_deposito_tratado %></td>
        <td><%= link_to 'Show', tratamento %></td>
        <td><%= link_to 'Edit', edit_tratamento_path(tratamento) %></td>
        <td><%= link_to 'Destroy', tratamento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tratamento', new_tratamento_path %>
