<h1>Listing lados</h1>

<table>
  <thead>
    <tr>
      <th>Quadra</th>
      <th>Rua</th>
      <th>Referencia</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lados.each do |lado| %>
      <tr>
        <td><%= lado.quadra_id %></td>
        <td><%= lado.rua_id %></td>
        <td><%= lado.referencia %></td>
        <td><%= link_to 'Show', lado %></td>
        <td><%= link_to 'Edit', edit_lado_path(lado) %></td>
        <td><%= link_to 'Destroy', lado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lado', new_lado_path %>
