<h1>Listing pesquisas</h1>

<table>
  <thead>
    <tr>
      <th>A1</th>
      <th>A2</th>
      <th>B</th>
      <th>C</th>
      <th>D1</th>
      <th>D2</th>
      <th>E</th>
      <th>Imovel especionado</th>
      <th>N amostra inicial</th>
      <th>N amostra final</th>
      <th>Quantidade tubitos</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pesquisas.each do |pesquisa| %>
      <tr>
        <td><%= pesquisa.a1 %></td>
        <td><%= pesquisa.a2 %></td>
        <td><%= pesquisa.b %></td>
        <td><%= pesquisa.c %></td>
        <td><%= pesquisa.d1 %></td>
        <td><%= pesquisa.d2 %></td>
        <td><%= pesquisa.e %></td>
        <td><%= pesquisa.imovel_especionado %></td>
        <td><%= pesquisa.n_amostra_inicial %></td>
        <td><%= pesquisa.n_amostra_final %></td>
        <td><%= pesquisa.quantidade_tubitos %></td>
        <td><%= link_to 'Show', pesquisa %></td>
        <td><%= link_to 'Edit', edit_pesquisa_path(pesquisa) %></td>
        <td><%= link_to 'Destroy', pesquisa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pesquisa', new_pesquisa_path %>
