<p id="notice"><%= notice %></p>

<p>
  <strong>A1:</strong>
  <%= @pesquisa.a1 %>
</p>

<p>
  <strong>A2:</strong>
  <%= @pesquisa.a2 %>
</p>

<p>
  <strong>B:</strong>
  <%= @pesquisa.b %>
</p>

<p>
  <strong>C:</strong>
  <%= @pesquisa.c %>
</p>

<p>
  <strong>D1:</strong>
  <%= @pesquisa.d1 %>
</p>

<p>
  <strong>D2:</strong>
  <%= @pesquisa.d2 %>
</p>

<p>
  <strong>E:</strong>
  <%= @pesquisa.e %>
</p>

<p>
  <strong>Imovel especionado:</strong>
  <%= @pesquisa.imovel_especionado %>
</p>

<p>
  <strong>N amostra inicial:</strong>
  <%= @pesquisa.n_amostra_inicial %>
</p>

<p>
  <strong>N amostra final:</strong>
  <%= @pesquisa.n_amostra_final %>
</p>

<p>
  <strong>Quantidade tubitos:</strong>
  <%= @pesquisa.quantidade_tubitos %>
</p>

<%= link_to 'Edit', edit_pesquisa_path(@pesquisa) %> |
<%= link_to 'Back', pesquisas_path %>
