<p id="notice"><%= notice %></p>

<p>
  <strong>Quadra:</strong>
  <%= @lado.quadra_id %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @lado.rua_id %>
</p>

<p>
  <strong>Referencia:</strong>
  <%= @lado.referencia %>
</p>

<%= link_to 'Edit', edit_lado_path(@lado) %> |
<%= link_to 'Back', lados_path %>
