<%= form_for(@pesquisa) do |f| %>
  <% if @pesquisa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pesquisa.errors.count, "error") %> prohibited this pesquisa from being saved:</h2>

      <ul>
      <% @pesquisa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :a1 %><br>
    <%= f.number_field :a1 %>
  </div>
  <div class="field">
    <%= f.label :a2 %><br>
    <%= f.number_field :a2 %>
  </div>
  <div class="field">
    <%= f.label :b %><br>
    <%= f.number_field :b %>
  </div>
  <div class="field">
    <%= f.label :c %><br>
    <%= f.number_field :c %>
  </div>
  <div class="field">
    <%= f.label :d1 %><br>
    <%= f.number_field :d1 %>
  </div>
  <div class="field">
    <%= f.label :d2 %><br>
    <%= f.number_field :d2 %>
  </div>
  <div class="field">
    <%= f.label :e %><br>
    <%= f.number_field :e %>
  </div>
  <div class="field">
    <%= f.label :imovel_especionado %><br>
    <%= f.number_field :imovel_especionado %>
  </div>
  <div class="field">
    <%= f.label :n_amostra_inicial %><br>
    <%= f.number_field :n_amostra_inicial %>
  </div>
  <div class="field">
    <%= f.label :n_amostra_final %><br>
    <%= f.number_field :n_amostra_final %>
  </div>
  <div class="field">
    <%= f.label :quantidade_tubitos %><br>
    <%= f.number_field :quantidade_tubitos %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
