<%= form_for(@imovel) do |f| %>
  <% if @imovel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@imovel.errors.count, "error") %> prohibited this imovel from being saved:</h2>

      <ul>
      <% @imovel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lado_id %><br>
    <%= f.number_field :lado_id %>
  </div>
  <div class="field">
    <%= f.label :tipo_id %><br>
    <%= f.number_field :tipo_id %>
  </div>
  <div class="field">
    <%= f.label :habitantes %><br>
    <%= f.number_field :habitantes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
